.header {
  display: flex;
}

.header .logo > img {
  width: 100%;
  background-color: red;
}

.ant-typography {
  color: "white";
}

.laptop-icon {
  background-color: red;
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}