.header {
	display: flex;
}

.main-content {
	transition: 0.5s;
}

.ant-typography {
	color: "white";
	font-weight: bold;
}

.laptop-icon {
	background-color: red;
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
	float: right;
	margin: 16px 0 16px 24px;
}

.site-layout-background {
	background: #fff;
}

html,
body {
	background-color: inherit;
}
